#post-control-buttons {
  padding-top: 10px;
  padding-bottom: 20px; }

.app-title {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  background-color: ghostwhite; }
  .app-title h1 {
    padding: 0;
    margin: 0;
    text-align: center; }

.text-input-over {
  color: red; }
